<h1>Delivery Agency</h1>

<%= form_tag destroy_multiple_delivery_agencies_path, method: :delete do %>
  <div class="form-group">
    <div class="btn-group">
      <%= link_to 'Add', new_delivery_agency_path, class: "btn btn-primary" %>
      <%= submit_tag "Delete", data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
    </div>
    <div class="right">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span><span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Print as List</a></li>
          <li><a href="#">Print as Summary</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <div class="btn btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>-Per Page-</li>
            <li><%= link_to "2 per page", delivery_agencies_path(per_page: "2") %></li>
            <li><%= link_to "10 per page", delivery_agencies_path(per_page: "10") %></li>
            <li><%= link_to "20 per page", delivery_agencies_path(per_page: "20") %></li>
            <li><%= link_to "30 per page", delivery_agencies_path(per_page: "30") %></li>
            <li><%= link_to "40 per page", delivery_agencies_path(per_page: "40") %></li>
            <li><%= link_to "50 per page", delivery_agencies_path(per_page: "50") %></li>
            <li><%= link_to "75 per page", delivery_agencies_path(per_page: "75") %></li>
            <li><%= link_to "100 per page", delivery_agencies_path(per_page: "100") %></li>
            <li><%= link_to "200 per page", delivery_agencies_path(per_page: "200") %></li>
          </ul>
        </div>
        <div class="btn btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span><span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">View as</a></li>
            <li><a href="#">Import Data</a></li>
            <li><a href="#">Export Data</a></li>
            <li><a href="#">Save Changes as New View</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-bordered table-striped center">
    <thead>
      <tr>
        <th class="center"></th>
        <th class="center">No.</th>
        <th class="center">Name</th>
        <th class="center">Email</th>
        <th class="center">Phone</th>
        <th class="center">Address</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @delivery_agencies.each_with_index do |delivery_agency, i| %>
        <tr>
          <td>
            <div class="form-group">
              <%= check_box_tag "delivery_agencies[]", delivery_agency.id %>
            </div>
          </td>
          <td><%= (i+1) %></td>
          <td><%= delivery_agency.name %></td>
          <td><%= delivery_agency.email %></td>
          <td><%= delivery_agency.phone %></td>
          <td><%= delivery_agency.address %></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to 'Edit', edit_delivery_agency_path(delivery_agency), class: "btn btn-link" %></li>
                <li><%= link_to 'Destroy', delivery_agency, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <div class="center">
    <div class="digg_pagination">
      <%= will_paginate @delivery_agencies %>
    </div>
  </div>
<% end %>

