<p>
  <strong>Name:</strong>
  <%= @delivery_agency.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @delivery_agency.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @delivery_agency.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @delivery_agency.address %>
</p>

<%= link_to 'Edit', edit_delivery_agency_path(@delivery_agency) %> |
<%= link_to 'Back', delivery_agencies_path %>
