<%= form_for @user, url: {action: "update"}, html: { method: :put } do |f| %>
  <%= devise_error_messages! %>

  <h2>Edit</h2>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :isok %><br />
    <%= f.radio_button :isok, "true", :checked => (@user.isok == true) %> <%= f.label :isok, "True" %>
    <%= f.radio_button :isok, "false", :checked => (@user.isok == false) %> <%= f.label :isok, "False" %>
  </div>

  <div class="form-group">
    <%= f.label :staff %><br />
    <%= f.radio_button :staff, "true", :checked => (@user.staff == true) %> <%= f.label :staff, "True" %>
    <%= f.radio_button :staff, "false", :checked => (@user.staff == false) %> <%= f.label :staff, "False" %>
  </div>

  <div class="form-group">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Back", admin_permission_path, class: "btn btn-link" %>
