<h1>Permission</h1>

<table class="table table-striped table-bordered center">
  <thead>
	<tr>
		<th class="center">Name</th>
		<th class="center">Email Address</th>
		<th class="center">Created At</th>
		<th class="center">Entry</th>
		<th class="center">Staff</th>
		<th class="center">Admin</th>
     <th class="center"></th>
	</tr>
  </thead>

  <tbody>
  	<% @users.each do |user| %>
    <tr>
  		<td><%= user.name %></td>
  		<td><%= user.email %></td>
  		<td><%= user.created_at %></td>
	     <td><%= user.isok %></td>
	     <td><%= user.staff %></td>
	     <td><%= user.admin %></td>
     <td>
      <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to "Edit", admin_edit_path(user), class: "btn btn-link" %></li>
            <li><%= link_to 'Destroy', admin_permission_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></li>
          </ul>
        </div>
     </td>
    </tr>
  	<% end %>
  </tbody>
</table>
