	<div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <%= f.label :product, "SKU" %><br>
          <% if @product %>
            <%= f.hidden_field :product, :value => @product.product_code %>
          <% else %>
            <%= f.hidden_field :product %>
          <% end %>
          <div class="btn-group drop_search btn-block">
            <button type="button" class="left btn btn-default dropdown-toggle sku_btn btn-block" data-toggle="dropdown" style="text-align: left">
              <% if @product %>
                <%= @product.product_code %>
              <% else %>
                -Select-
              <% end %>
              <span class="caret" style="text-align: right"></span>
            </button>
            <ul class="dropdown-menu btn-block">
              <li id="search">
                <%= text_field_tag :product, params[:search], :id => 'search_field', :onKeyDown => "setInterval(refreshPartial);", :autocomplete => :off, :class => "form-control" %>
              </li>
              <div id="result">
              <%= render :partial => 'orders/search_result' %>
            </div>
            </ul>
          </div>
        </div>
        <div class="col-md-1">
          <%= f.label :size %>
          <%= f.text_field :size, class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= f.label :color %>
          <%= f.text_field :color, class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= f.label :price %>
          <%= f.text_field :price, :readonly => true, class: "form-control" %>
        </div>
        <div class="col-md-1">
          <%= f.label :quantity %>
          <%= f.text_field :quantity, class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= f.label :total, "Total Price" %>
          <%= f.text_field :total, :readonly => true, class: "form-control" %>
        </div>
      </div>
    </div>