<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h4>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="stripe_error" class="alert alert-danger" style="display:none">
    <noscript>Javascript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>

  <div class="form-group">
    <%= f.label :sales_owner %>
    <%= f.select(:sales_owner, options_for_select([['sangguen','sangguen'],['mengmeng','mengmeng'],['xiaoyi','xiaoyi'],['sunmi','sunmi'],['kaka','kaka']]), {}, {class: "form-control"}) %>
  </div>
  <div class="form-group">
    <%= f.label :marketplace %>
    <%= f.select(:marketplace, options_for_select([['淘宝网','淘宝网'],['速卖通','速卖通'],['Amazon.com','Amazon.com'],['MaxstarStore','MaxstarStore'],['Amazon.uk','Amazon.uk'],['eBay and etc','eBay and etc']]), {}, {class: "form-control"}) %>
  </div>
  <div class="form-group">
    <%= f.label :customer_name, "Customer" %> <font color="orange">*</font>
    <%= f.hidden_field :customer_name %>
    <div class="row">
      <div class="col-md-12">
        <%= f.fields_for :customer_attributes do |c| %>
          <div class="col-md-3">
            <%= c.label :name %> <font color="orange">*</font>
            <%= c.text_field :name, class: "form-control" %>
          </div>
          <div class="col-md-3">
            <%= c.label :email %>
            <%= c.text_field :email, class: "form-control" %>
          </div>
          <div class="col-md-3">
            <%= c.label :number %> <font color="orange">*</font>
            <%= c.text_field :number, class: "form-control" %>
          </div>
          <div class="col-md-3">
            <%= c.label :address %>
            <%= c.text_area :address, class: "form-control" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :order_date %>
    <%= f.text_field :created_at, 'data-provide' => 'datepicker', class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Add Product" %> <font color="orange">*</font>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <%= f.label :product, "SKU" %><br>
          <% if @product %>
            <%= f.hidden_field :product, :value => @product.product_code %>
          <% else %>
            <%= f.hidden_field :product %>
          <% end %>
          <div class="btn-group drop_search btn-block">
            <button type="button" class="left btn btn-default dropdown-toggle sku_btn btn-block" data-toggle="dropdown" style="text-align: left">
              <% if @product %>
                <%= @product.product_code %>
              <% else %>
                -Select-
              <% end %>
              <span class="caret" style="text-align: right"></span>
            </button>
            <ul class="dropdown-menu btn-block">
              <li id="search">
                <%= text_field_tag :product, params[:search], :id => 'search_field', :onKeyDown => "setInterval(refreshPartial);", :autocomplete => :off, :class => "form-control" %>
              </li>
              <div id="result">
              <%= render :partial => 'orders/search_result' %>
            </div>
            </ul>
          </div>
        </div>
        <div class="col-md-1">
          <%= f.label :size %>
          <% if @order.size %>
            <%= f.text_field :size, class: "form-control" %>
          <% else %>
            <%= f.text_field :size, class: "form-control", :value => '0' %>
          <% end %>
        </div>
        <div class="col-md-2">
          <%= f.label :color %>
          <%= f.text_field :color, class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= f.label :price %>
          <% if @order.price %>
            <%= f.text_field :price, :readonly => true, class: "form-control" %>
          <% else %>
            <%= f.text_field :price, :readonly => true, class: "form-control", :value => '0' %>
          <% end %>
        </div>
        <div class="col-md-1">
          <%= f.label :quantity %>
          <% if @order.size %>
            <%= f.text_field :quantity, class: "form-control" %>
          <% else %>
            <%= f.text_field :quantity, class: "form-control", :value => '1' %>
          <% end %>
        </div>
        <div class="col-md-2">
          <%= f.label :total, "Total Price" %>
          <% if @order.price %>
            <%= f.text_field :total, :readonly => true, class: "form-control" %>
          <% else %>
            <%= f.text_field :total, :readonly => true, class: "form-control", :value => '0' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="add_field">
      <button type="button" class="btn btn-success btn_add">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add Field
      </button>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_field :notes, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :delivery_date %>
    <%= f.text_field :delivery_date, 'data-provide' => 'datepicker', class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :delivery_agency %>
    <%= f.select(:delivery_agency, options_from_collection_for_select(DeliveryAgency.all,"name","name", f.object.delivery_agency), {},  {:class => "form-control"}) %>
  </div>
  <div class="form-group">
    <%= f.label :track_number %>
    <%= f.text_field :track_number, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
