<%= form_tag url_for( :controller => 'orders', :action => 'new'), :remote => true, :method => 'get', :class => 'search_form' do %>
	<%= text_field_tag :search, params[:search], :id => 'search_field', onkeypress: "onkeydown(event);" %>
<% end %>