<div class="btn-group drop_search">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
  	<li id="search">
  		<%= text_field_tag :search, params[:search], :id => 'search_field', :onKeyDown => "setInterval(refreshPartial);" %>
  	</li>
  	<div id="result">
		<%= render :partial => 'orders/search_result' %>
	</div>
  </ul>
</div>