<p id="notice"><%= notice %></p>

<p>
  <strong>Sales owner:</strong>
  <%= @order.sales_owner %>
</p>

<p>
  <strong>Marketplace:</strong>
  <%= @order.marketplace %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer_name %>
</p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order.product %>
</p>

<p>
  <strong>Size:</strong>
  <%= @order.size %>
</p>

<p>
  <strong>Color:</strong>
  <%= @order.color %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Total Price:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @order.notes %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @order.delivery_date %>
</p>

<p>
  <strong>Delivery agency:</strong>
  <%= @order.delivery_agency %>
</p>

<p>
  <strong>Track number:</strong>
  <%= @order.track_number %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
