<% content_for :stylesheets do %>
  #header_id { display: none }
<% end %>

<div class="center">
  <%= image_tag("becomeus_logo.png") %>
</div>

<br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="form-group">
    <%= f.submit "Sign in", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
