<%= form_for(@product, :html => { :multipart => true }) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h4>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="stripe_error" class="alert alert-danger" style="display:none">
    <noscript>Javascript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :business_group %> <font color="orange">*</font>
        <%= f.select(:business_group, options_from_collection_for_select(BusinessGroup.all,"name","name", f.object.business_group ), {},  {:class => "form-control"}) %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :category %>
    <div id="div_category">
      <%= "ff" %>
    </div>
    <% if @product %>
      <%= f.hidden_field :category, :value => @product.category %>
    <% else %>
      <%= f.hidden_field :category %>
    <% end %>
    <div class="row">
      <div class="col-md-5">
        <div class="col-md-4">
          <%= select_tag 'cat1', options_for_select([['-select-', ''], ['Hot','hot'], ['Cool', 'cool'], ['Hot & Cool']]), {class: "form-control"} %>
        </div>
        <div class="col-md-4">
          <%= select_tag 'cat2', options_for_select([['-select-', ''], ['Hot','hot'], ['Cool', 'cool']]), {class: "form-control"} %>
        </div>
        <div class="col-md-4">
          <%= select_tag 'cat3', options_for_select([['-select-', ''], ['Hot','hot'], ['Cool', 'cool']]), {class: "form-control"} %>
        </div>
      </div>
      <div class="col-md-7">
        <div class="col-md-3">
          <%= select_tag 'cat4', options_for_select([['-select-', ''], ['Hot','hot'], ['Cool', 'cool']]), {class: "form-control"} %>
        </div>
        <div class="col-md-3">
          <%= select_tag 'cat5', options_for_select([['-select-', ''], ['Hot','hot'], ['Cool', 'cool']]), {class: "form-control"} %>
        </div>
        <div class="col-md-3">
          <%= select_tag 'cat6', options_for_select([['-select-', ''], ['Hot','hot'], ['Cool', 'cool']]), {class: "form-control"} %>
        </div>
        <div class="col-md-3">
          <%= select_tag 'cat7', options_for_select([['-select-', ''], ['Hot','hot'], ['Cool', 'cool']]), {class: "form-control"} %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :product_code %> <font color="orange">*</font>
        <%= f.text_field :product_code, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :supplier %> <font color="orange">*</font>
        <%= f.select(:supplier, options_from_collection_for_select(Supplier.all,"company_name","company_name", f.object.supplier), {},  {:class => "form-control"}) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :brand %>
        <%= f.text_field :brand, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :stock %> <font color="orange">*</font>
        <%= f.text_field :stock, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :price_cny, "Price" %> <font color="orange">*</font>
        <%= f.text_field :price_cny, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <p><br><font color="#CCC"><%= content_tag( :div, 'CNY' ) %></font></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :variation %> <font color="orange">*</font>
        <%= f.select(:variation, options_for_select([['None','none'],['Size','size'],['Color','color'],['Size & Color', 'size_and_color']], :selected => f.object.variation), {}, {:onChange => "_variation()",class: "form-control variation"}) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :price_krw, "Price" %>
        <%= f.text_field :price_krw, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <p><br><font color="#CCC"><%= content_tag( :div, 'KRW' ) %></font></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group size" style="display:none">
        <%= f.label :size %>
        <%= f.text_field :size, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :weight %> <font color="orange">*</font>
        <%= f.text_field :weight, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
      <div class="form-group color" style="display:none">
        <%= f.label :color %>
        <%= f.select(:color, options_for_select([['Black','black'],['White','white'],['Brown','brown'],['Beige','beige'],['Blue','blue'],['Red','red'],['Multicolored','multicolored'],['Other','other']]), {}, {class: "form-control"}) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :dimension %> <font color="orange">*</font>
        <%= f.text_area :dimension, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :material_m %> <font color="orange">*</font>
        <%= f.text_area :material_m, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :marketplace %><br>
          <% for market in @marketplaces %>
            <%= f.check_box(:marketplace, { :multiple => true, :checked => (@product.marketplace.include?(market.name)) }, market.name, nil) %>
            <%= market.name %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :material_e %>
        <%= f.text_area :material_e, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :status %>
        <%= f.select(:status, options_for_select([['Active','Active'],['Inactive','Inactive']], :selected => f.object.status), {}, {class: "form-control"}) %>
      </div>
    </div>
  </div>
  
  <div class="form-group center">
    <input type="button" class="btn btn-primary btn_more" onclick="more()" value="More"  />
    <input type="button" class="btn btn-default btn_hide" onclick="hide()" value="Hide"style="display:none"  />
  </div>

  <div class="more_hide" style="display:none">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :product_name %>
          <%= f.text_field :product_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :keyword %>
          <%= f.text_area :keyword, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
