<h1>All Products</h1>

<%= form_tag destroy_multiple_products_path, method: :delete do %>
  <div class="form-group">
    <div class="btn-group">
      <%= link_to 'Add', new_product_path, class: "btn btn-primary" %>
      <%= submit_tag "Delete", data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
    </div>
    <div class="right">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span><span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Print as List</a></li>
          <li><a href="#">Print as Summary</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <div class="btn btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>-Per Page-</li>
            <li><%= link_to "2 per page", products_path(per_page: "2") %></li>
            <li><%= link_to "10 per page", products_path(per_page: "10") %></li>
            <li><%= link_to "20 per page", products_path(per_page: "20") %></li>
            <li><%= link_to "30 per page", products_path(per_page: "30") %></li>
            <li><%= link_to "40 per page", products_path(per_page: "40") %></li>
            <li><%= link_to "50 per page", products_path(per_page: "50") %></li>
            <li><%= link_to "75 per page", products_path(per_page: "75") %></li>
            <li><%= link_to "100 per page", products_path(per_page: "100") %></li>
            <li><%= link_to "200 per page", products_path(per_page: "200") %></li>
          </ul>
        </div>
        <div class="btn btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span><span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">View as</a></li>
            <li><a href="#">Import Data</a></li>
            <li><a href="#">Export Data</a></li>
            <li><a href="#">Save Changes as New View</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-bordered table-striped center">
    <thead>
      <tr>
        <th class="center"></th>
        <th class="center">No.</th>
        <th class="center">Product Code</th>
        <th class="center">Image</th>
        <th class="center">Price</th>
        <th class="center">Status</th>
        <th class="center">Business Group</th>
        <th class="center">Category</th>
        <th class="center">Stock</th>
        <th class="center">Marketplaces</th>
        <th class="center">Added Time</th>
        <th class="center">Added user</th>
        <th class="center">Modified Time</th>
        <th class="center">Modified User</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each_with_index do |product, i| %>
        <tr>
          <td>
            <div class="form-group">
              <%= check_box_tag "products[]", product.id %>
            </div>
          </td>
          <td><%= (i+1) %></td>
          <td><%= product.product_code %></td>
          <td><%= image_tag product.image.url(:thumb) %></td>
          <td><%= product.price_cny %></td>
          <td><%= product.status %></td>
          <td><%= product.business_group %></td>
          <td><%= product.category %></td>
          <td><%= product.stock %></td>
          <td>
            <% for j in 0..(product.marketplace.count-1) do %>
              <% if j == 0 %>
                <%= product.marketplace[0] %>
              <% else %>
                , <%= product.marketplace[j] %>
              <% end %>
            <% end %>
          </td>
          <td><%= product.created_at %></td>
          <td><%= product.user.name %></td>
          <td><%= product.updated_at %></td>
          <td><%= product.modi_user_name %></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to 'Edit', edit_product_path(product), class: "btn btn-link" %></li>
                <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <div class="center">
    <div class="digg_pagination">
      <%= will_paginate @products %>
    </div>
  </div>
<% end %>
