<p>
  <strong>Business group:</strong>
  <%= @product.business_group %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @product.supplier %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand %>
</p>

<p>
  <strong>Product code:</strong>
  <%= @product.product_code %>
</p>

<p>
  <strong>Price cny:</strong>
  <%= @product.price_cny %>
</p>

<p>
  <strong>Price krw:</strong>
  <%= @product.price_krw %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Variation:</strong>
  <%= @product.variation %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Dimension:</strong>
  <%= @product.dimension %>
</p>

<p>
  <strong>Material m:</strong>
  <%= @product.material_m %>
</p>

<p>
  <strong>Material e:</strong>
  <%= @product.material_e %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @product.keyword %>
</p>

<p>
  <strong>Marketplace:</strong>
  <%= @product.marketplace %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>

<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-link" %> |
<%= link_to 'Back', products_path, class: "btn btn-link" %>
