<%= form_for(@supplier) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h4>

      <ul>
      <% @supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="stripe_error" class="alert alert-danger" style="display:none">
    <noscript>Javascript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>

  <div class="form-group">
    <%= f.label :company_name %> <font color="orange">*</font>
    <%= f.text_field :company_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :staff_name %>
    <%= f.text_field :staff_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :suppliers_code %>
    <%= f.text_field :suppliers_code, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :gender %><br />
    <%= f.radio_button :gender, "male", :checked => (@supplier.gender == "male") %> <%= f.label :gender, "Male" %>
    <%= f.radio_button :gender, "female", :checked => (@supplier.gender == "female") %> <%= f.label :gender, "Female" %>
  </div>
  <div class="form-group">
    <%= f.label :contact_email %>
    <%= f.text_field :contact_email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :contact_number %> <font color="orange">*</font>
    <%= f.text_field :contact_number, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_area :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
