<p>
  <strong>Company name:</strong>
  <%= @supplier.company_name %>
</p>

<p>
  <strong>Staff name:</strong>
  <%= @supplier.staff_name %>
</p>

<p>
  <strong>Suppliers code:</strong>
  <%= @supplier.suppliers_code %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @supplier.gender %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @supplier.contact_email %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @supplier.contact_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supplier.address %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
