<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/products">Becomeus</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav-pills">
        <li><a data-toggle="tab" href="#product">Products</a></li>
        <li><a data-toggle="tab" href="#order">Orders</a></li>
        <li><a href="#">Purchases</a></li>
        <li><a data-toggle="tab" href="#customer">Customers</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <% if current_user.admin == true %>
            <li><%= link_to 'Permission', admin_permission_path %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><a href="/users/sign_up">Sign Up</a></li>
          <li><a href="/users/sign_in">Sign In</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="tab-content container">
  <div class="tab-pane active" id="product">
    <ul class="nav navbar-nav">
      <li><%= link_to 'All Products', products_path %></li>
      <li><%= link_to 'New Product', new_product_path %></li>
      <li><%= link_to 'Suppliers', suppliers_path%></li>
      <li><%= link_to 'All Products(Export)'%></li>
      <li><%= link_to 'Business Group', business_groups_path %></li>
    </ul>
  </div>
  <div class="tab-pane" id="order">
    <ul class="nav navbar-nav">
      <li><%= link_to 'All Orders', orders_path %></li>
      <li><%= link_to 'New Order', new_order_path %></li>
      <li><%= link_to 'Pending', orders_search_test_path%></li>
      <li><%= link_to 'Delivery Pending'%></li>
      <li><%= link_to 'Delivery Agency', delivery_agencies_path %></li>
    </ul>
  </div>
  <div class="tab-pane" id="customer">
    <ul class="nav navbar-nav">
      <li><%= link_to 'All Customers', customers_path %></li>
      <li><%= link_to 'New Customer', new_customer_path %></li>
    </ul>
  </div>
</div>