<!DOCTYPE html>
<html>
<head>
  <title>Becomeus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <style type="text/css"><%= yield :stylesheets %></style>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header_id">
   <%= render 'layouts/header' %>
</div>

<div class="container">
	<% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name.to_s == 'notice' ? "success" : "danger" %> alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
    <% end %>
	
	<%= yield %>
</div>

</body>
</html>
